@inject HttpClient HttpClient

@if (!_isEditMode)
{
    <tr>
        <td>@Category.CategoryName</td>
        <td><a @onclick="() =>{ _isEditMode = true; }" href="javascript:void(0)"><i class="oi oi-pencil"></i></a></td>
        <td><a @onclick="async () => await DeleteCategory.InvokeAsync(Category.CategoryId)" href="javascript:void(0)"><i class="oi oi-trash"></i></a></td>
    </tr>
}
else
{
    <tr>
        <td><input class="form-control" @bind="Category.CategoryName" placeholder="Название" /></td>
        <td class="pt-3"><a @onclick="async () => {await UpdateCategory.InvokeAsync(Category);_isEditMode = false;}"
               href="javascript:void(0)"><i class="oi oi-check"></i></a>
        </td>
        <td></td>
    </tr>
}

@code {
    /// <summary>
    /// Изменяется ли запись?
    /// </summary>
    private bool _isEditMode = false;

    /// <summary>
    /// Категория.
    /// </summary>
    [Parameter]
    public CategoryDto Category { get; set; }

    /// <summary>
    /// Обновление категории.
    /// </summary>
    [Parameter]
    public EventCallback<CategoryDto> UpdateCategory { get; set; }

    /// <summary>
    /// Удаление категории.
    /// </summary>
    [Parameter]
    public EventCallback<int> DeleteCategory { get; set; }
}